<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="task-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .containerDiv{
        margin:10% auto;
        width:40% !important;
      }
      .btn-button{
        background-color: #483D8B;
        color:white;
        padding:5px;
      }
      .noPadding{
        padding:0px;
      }
      .textRight{
        text-align: right;
      }
      .marginBottom10{
        margin-bottom: 10px;
      }
    </style>

    <div class="card containerDiv">
      My Dashboard
    </div>
  </template>

  <script>
    class TaskLogin extends Polymer.Element {
      static get is() { return 'task-login'; }
    }

    window.customElements.define(TaskLogin.is, TaskLogin);
  </script>
</dom-module>
