<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="shared-styles.html">

<dom-module id="task-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .noPadding{
        padding:0px;
      }
      .textRight{
        text-align: right;
      }
      .marginBottom10{
        margin-bottom: 10px;
      }
      .modalParent{
        z-index: 1;
        position: absolute;
        width: 98.5%;
        height: 60.5%;
        background: rgba(0,0,0,.2);
      }
    </style>

    <div class="containerDiv">
     <h1>Processed Order</h1>

      <!--<iron-ajax auto url="http://10.117.189.223:8080/p2pCurrencyExchanger/service/exchange/mock" handle-as="json" on-response="callMe" last-response="{{dashboard}}">
      </iron-ajax>-->

       <iron-ajax auto url="/data/financeDash.json" handle-as="json" last-response="{{dashboard}}">
      </iron-ajax>

<div class="gridParent">
  <!--<div class="modalParent">Abhilas</div>-->

    <vaadin-grid items="[[dashboard.results]]" column-reordering-allowed multi-sort>
      
      <vaadin-grid-column width="9em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="UserId">UserId</vaadin-grid-sorter>
        </template>
        <template>[[item.UserId]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="9em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="From">From</vaadin-grid-sorter>
        </template>
        <template>[[item.From]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="5em" flex-grow="2" resizable>
        <template class="header">
          <vaadin-grid-sorter path="To">To</vaadin-grid-sorter>
        </template>
        <template>[[item.To]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="5em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="Sell">Sell</vaadin-grid-sorter>
        </template>
        <template>[[item.Sell]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="5em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="Buy">Buy</vaadin-grid-sorter>
        </template>
        <template>[[item.Buy]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="5em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="Rate">Rate</vaadin-grid-sorter>
        </template>
        <template>[[item.Rate]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="5em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="Fee">Fee</vaadin-grid-sorter>
        </template>
        <template>[[item.Fee]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="7em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="Country">Country</vaadin-grid-sorter>
        </template>
        <template>[[item.Country]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="9em" resizable>
        <template class="header">
          <vaadin-grid-sorter path="time">Time</vaadin-grid-sorter>
        </template>
        <template>[[item.time]]</template>
      </vaadin-grid-column>

    </vaadin-grid>
</div>

    </div>
  </template>

  <script>
    class TaskLogin extends Polymer.Element {
      static get is() { return 'task-login'; }

      callMe(event,Request){
        console.log('hi');
        this.dashboard = Request.response.results;
        console.log(this.dashboard);
      }
    }

    window.customElements.define(TaskLogin.is, TaskLogin);
  </script>
</dom-module>
